<div id="Credentials_Bar" class="Bar_tools">
	<!--<a class='easyui-linkbutton' href='JavaScript:void(0);' data-options="iconCls:'iconfont icon-viewlist',plain:true" onclick="reload_Credentials_data_list();"><span>刷新</span></a> -->
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="checkAciiStatus()">检查状态</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="seachProjectDialog()">工程查询条件</a>
	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="$('#Credentials_audit_dlg_date').dialog('open')">选择时间</a>
	<select class="easyui-combobox" name="T" id="T" data-options="onSelect:function(){ reload_Credentials_data_list(); }" style="width: 150px;">
		<option value="-1">单据类型</option>
		<?php foreach($rtype as $k=>$v){ ?>
		<option value="<?php echo $k;?>"><?php echo $v;?></option>
		<?php } ?>
	</select>
	<select class="easyui-combobox" id="tag" data-options="onSelect:function(){ reload_Credentials_data_list(); }" style="width: 100px;">
		<option value="-1">标记</option>
		<option value="0">无</option>
		<option value="1">入账</option>
	</select>
	<select class="easyui-combobox" id="print" data-options="onSelect:function(){ reload_Credentials_data_list(); }" style="width: 100px;">
		<option value="-1">打印</option>
		<option value="0">未打印</option>
		<option value="1">已打印</option>
	</select>
	<a href="#" class="easyui-linkbutton" onclick="exportCsv()" id="exportlbt">导出CSV</a>
	<a href="#" onclick="savePdf()" class="easyui-linkbutton">打印</a>
	<!--<a href="#" class="easyui-menubutton" data-options="menu:'#mm3'">更多操作</a>
	<div id="mm3">
		<div><a href="<?php echo U('Credentials/exportcsv');?>" class="" id="exportlbt">导出CSV</a></div>
	</div>
	-->
</div>

<!-- 数据列表 -->
<table id="Credentials_Data_List" ></table>

<!-- 工程查询条件 -->
<div id="Credentials_audit_dlg_search" class="easyui-dialog" title="更多工程查询条件" style="width:450px;height:400px;padding:10px"
	data-options="
		iconCls: 'icon-save',
		closed: true,
		buttons: [{
			text:'确定',
			iconCls:'iconfont icon-ok',
			handler:function(){
				reload_Credentials_data_list(getReturn());
			}
		}]
	">
</div>

<!-- 选择时间 -->
<div id="Credentials_audit_dlg_date" class="easyui-dialog" title="选择时间" style="width:550px;height:140px;padding:10px"
			data-options="
				iconCls: 'icon-save',
				closed: true,
				buttons: [{
					text:'ok',
					iconCls:'iconfont icon-ok',
					handler:function(){
						$('#Credentials_audit_dlg_date').dialog('close');
						reload_Credentials_data_list();
					}
				}]
			">
	<table>
		<tr>
			<td>开始时间:</td>
			<td>
				<input class="easyui-datebox" id="BT" data-options="sharedCalendar:'#cc'" value="<?php echo date('Y-m-01' , time());?>">
			</td>
			<td>结束时间:</td>
			<td>
				<input class="easyui-datebox" id="ET" data-options="sharedCalendar:'#cc'" value="<?php echo date('Y-m-t' , time());?>">
			</td>
		</tr>
	</table>
	<div id="cc" class="easyui-calendar"></div>
</div>
<!--验收单弹窗-->
<div id="dd" class="easyui-dialog" title="验收单" style="width:650px;height:500px;"
	 data-options="iconCls:'icon-cancel',resizable:true,modal:true,closed: true,buttons: [{
			text:'关闭',
			iconCls:'iconfont icon-ok',
			handler:function(){$('#dd').dialog('close');}
		}]">
</div>
<!-- 打回原因 -->
<div id="Credentials_audit_dlg" class="easyui-dialog" title="打回原因" style="width:400px;height:200px;padding:10px"
			data-options="
				iconCls: 'icon-save',
				closed: true,
				buttons: [{
					text:'ok',
					iconCls:'iconfont icon-ok',
					handler:function(){
						//alert($('#R').val());
						//console.log($('#Credentials_Data_List').datagrid('getSelections'));
						var r  = $('#R').val();
						var re = $('#Credentials_Data_List').datagrid('getSelections');
						var s  = 'E';
						if(r==''){
							$.messager.alert('消息','请输入打回原因!','error');
							$('#R').focus();
							return false;
						}
						if(re.length==0){
							$.messager.alert('消息','您未选择任何数据!','error');
							return false;
						}
						$.ajax({
							type: 'POST',
							url: '<?php echo U('Credentials/auditRec');?>',
							data: {R:r,RE:re,S:s},
							dataType: 'json',
							success: function(status){
								if(status==200){
									$.messager.alert('消息','操作成功!','info');
									$('#R').val('');
									$('#Credentials_audit_dlg').dialog('close')
									reload_Credentials_data_list();
								}else{
									$.messager.alert('消息','操作失败!','error');
								}
							}
						});
					}
				}]
			">
	<textarea class="" id="R" data-options="multiline:true" style="width:345px;height:100px"></textarea>
</div>

<div style="
    position: absolute;
    right: 180px;
    bottom: 9px;width: 200px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px 0 0;
    padding: 0;">
	<p id="tongji">工程数量：0 总价：0</p>
</div>
<div class="loading">加载中...</div>
<script type="text/javascript">
// 重加载 
function reload_Credentials_data_list(value) {
	islogin();
	var ProjectCode = new Array(1);
	ProjectCode[0] = value;

	$('#Credentials_audit_dlg_search').dialog('close');
	var T = $("#T").combobox('getValue');
	var BT = $("#BT").datebox('getValue');
	var ET = $("#ET").datebox('getValue');
	var print = $("#print").combobox('getValue');
	var tags = $('#tag').combobox('getValue');

	$('#Credentials_Data_List').datagrid('reload', {
		'T': T,
		'BT': BT,
		'ET': ET,
		'PCS': ProjectCode,
		'PRINT': print,
		'TAGS': tags
	});
}
// 底部统计
function tongji() {
	islogin();
	var re = $('#Credentials_Data_List').datagrid('getSelections');
	var number = 0;
	var money = 0;
	if (re.length <= 0) {
		re = $('#Credentials_Data_List').datagrid('getRows');
	}
	var projectCodes = new Array();
	for (var i = 0; i < re.length; i++) {
		money += re[i].money;
		if (projectCodes.indexOf(re[i].projectCode) == -1) {
			projectCodes.push(re[i].projectCode);
		}
	}
	number = projectCodes.length;

	$('#tongji').html ('工程数量：' + number + '  总价：' + money);
}
function  exportCsv() {
	islogin();
	var params = $("#Credentials_Data_List").datagrid('options').queryParams;

	var url = '<?php echo U("Credentials/exportcsv");?>';
	if (params["PRINT"])
		url = url + "&PRINT=" + params["PRINT"];
	if (params["TAGS"])
		url = url + "&TAGS=" + params["TAGS"];
	if (params["T"])
		url = url + "&T=" + params["T"];
	if (params["BT"])
		url = url + "&BT=" + params["BT"];
	if (params["ET"])
		url = url + "&ET=" + params["ET"];
	if (params["PCS"])
		url = url + "&PCS=" + params["PCS"];
	if ($("#Credentials_Data_List").datagrid('options').pageNumber)
		url = url + "&page=" + $("#Credentials_Data_List").datagrid('options').pageNumber;
	if ($("#Credentials_Data_List").datagrid('options').pageSize)
		url = url + "&rows=" + $("#Credentials_Data_List").datagrid('options').pageSize;
	console.log(url);
	window.open(url);
}
function  print(projectcode,activeitemcode,acii) {
	islogin();
	$(".loading").show();
	$.ajax({
		type:"POST",
		url:"<?php echo U('Credentials/loadMoneySettlementPDF');?>",
		data:{PC:projectcode,ACI:activeitemcode,ACII:acii},
		async : false,
		dataType:"json",
		success:function(data) {
			if (data.STATUS == 803) {
				$.messager.alert('消息', '工序并未全部处理完不能打印', 'info');
			}else if(data.STATUS==200) {
				window.open(data.RESULT);
			}
			$(".loading").hide();
		},
		error:function(data)
		{
			$(".loading").hide();
		}
	});
}
function savePdf() {
	islogin();
	var re = $("#Credentials_Data_List").datagrid('getSelections');
	if (re == null) {
		$.messager.alert('消息', '请选择导出的工程!', 'error');
		return;
	}
	var activeItemIns = new Array();
	for (var i = 0; i < re.length; i++) {
		if (activeItemIns.indexOf(re[i].activeItemIns) == -1) {
			activeItemIns.push(re[i].activeItemIns);
		}
	}

	if (activeItemIns.length > 0) {
		print('', '', JSON.stringify(activeItemIns).replace(/"/g, ''));
	} else {
		$.messager.alert('消息', '请选择导出的工程!', 'error');
	}
}
$(function() {
	islogin();
	$("#Credentials_Data_List").datagrid({
		url: "{:U('Credentials/index')}",
		fit: true,
		striped: true,
		border: false,
		pagination: true,
		pageSize: 50,
		pageList: [50, 100, 200, 300],
		pageNumber: 1,
		//sortName: 'recordCode',
		//sortOrder: 'desc',
		toolbar: '#Credentials_Bar',
		singleSelect: false,
		remoteSort: false,
		rownumbers: true,
		columns: [[
			{field: 'ck', checkbox: true},
			{field: 'projectCode', title: '工程编号', width: 80, sortable: true},
			{field: 'projectName', title: '装修地址', width: 170, sortable: true},
			{field: 'owner', title: '客户姓名', width: 62, sortable: true},
			{field: 'productType', title: '客户版本号', width: 90, sortable: true},
			{field: 'activeItemName', title: '工序名称', width: 180, sortable: true},
			{field: 'projectUserName', title: '装修管家', width: 70, sortable: true},
			{field: 'recordCode', title: '单据编号', width: 170, sortable: true},
			{field: 'sbegin', title: '生成时间', width: 170, sortable: true},
			{field: '_rtype', title: '类型', width: 80, sortable: true},
			{field: 'userCode', title: '工人编号', width: 110, sortable: true},
			{field: 'userName', title: '工人名称', width: 100, sortable: true},
			{
				field: 'money', title: '金额', width: 80, align: 'right', sortable: true, formatter: function (value) {
				return value.toFixed(2);
			}
			},
			{
				field: 'handleTag', title: '标识', width: 50, sortable: true, formatter: function (value, rowDate) {
				var name = value;
				var tag;
				switch (value) {
					case "0":
						name = '无';
						tag = 1;
						break;
					case "1":
						name = "入账";
						tag = 0;
						break;
					case "2":
						name = "重要";
						break;
					case "3":
						name = "疑问";
						break;
				}
				return '<a href="#" onclick="changeTag([&quot;' + rowDate.recordCode + '&quot;],' + tag + ')">' + name + '</a>';
			}
			},
			{
				field: 'isPrint',
				title: '操作',
				width: 70,
				sortable: true,
				formatter: function (value, rowData, rowIndex) {
					if (rowData.op == 1) {
						if (value == 0) {
							return '<a href="#" onclick="print(' + rowData.projectCode + ',&quot;' + rowData.activeItemCode + '&quot;,&quot;[' + rowData.activeItemIns + ']&quot;)">打印</a>';
						}
						else {
							return '<a href="#" onclick="print(' + rowData.projectCode + ',&quot;' + rowData.activeItemCode + '&quot;,&quot;[' + rowData.activeItemIns + ']&quot;)">已打印</a>';
						}
					}
				}
			},
			{field: 'handleUserCode', title: '审核人', width: 70, sortable: true},
			{field: 'handlerDate', title: '审核时间', width: 150, sortable: true},
			{field: 'remark', title: '描述', width: 120, sortable: true},
		]],
		onSelect: function (index, rowdata) {
			tongji();
		},
		onUnselect: function (index, rowdata) {
			tongji();
		},
		onLoadSuccess: function (data) {
			tongji();
			checkAciiStatus();
			//MergeActive();
		},
		onSelectAll: function (rows) {
			tongji();
		},
		onUnselectAll: function (rows) {
			tongji();
		}
	});

});
function  MergeActive() {
	islogin();
	var beginindex = 0;
	var oldValue = '';
	var re = $('#Credentials_Data_List').datagrid('getRows');
	for (var i = 0; i < re.length; i++) {
		var newValue = re[i].projectCode;
		if (oldValue == '') {
			oldValue = newValue;
			continue;
		}

		if (oldValue == newValue) {
			continue;
		} else {
			if (i - beginindex >= 2) {
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'projectCode',
					rowspan: i - beginindex
				});
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'projectName',
					rowspan: i - beginindex
				});
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'owner',
					rowspan: i - beginindex
				});
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'productType',
					rowspan: i - beginindex
				});
				MergeActiveItem(beginindex, i);//合并工序项目
			}
			beginindex = i;
			oldValue = newValue;
		}
	}
	if (i - beginindex >= 2) {
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'projectCode',
			rowspan: i - beginindex
		});
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'projectName',
			rowspan: i - beginindex
		});
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'owner',
			rowspan: i - beginindex
		});
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'productType',
			rowspan: i - beginindex
		});
		MergeActiveItem(beginindex, i);//合并工序项目
	}
}
function MergeActiveItem(rowindex,rowend) {
	islogin();
	var beginindex = rowindex;
	var oldValue = '';
	var re = $('#Credentials_Data_List').datagrid('getRows');
	for (var i = rowindex; i < rowend; i++) {
		var newValue = re[i].activeItemName;
		if (oldValue == '') {
			oldValue = newValue;
			continue;
		}

		if (oldValue == newValue) {
			continue;
		} else {
			if (i - beginindex >= 2) {
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'activeItemName',
					rowspan: i - beginindex
				});
				$("#Credentials_Data_List").datagrid('mergeCells', {
					index: beginindex,
					field: 'isPrint',
					rowspan: i - beginindex
				});
			}
			beginindex = i;
			oldValue = newValue;
		}
	}
	if (i - beginindex >= 2) {
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'activeItemName',
			rowspan: i - beginindex
		});
		$("#Credentials_Data_List").datagrid('mergeCells', {
			index: beginindex,
			field: 'isPrint',
			rowspan: i - beginindex
		});
	}
}
function changeTag(records,tag) {
	islogin();
	var _records = Array();
	for (i = 0; i < records.length; i++) {
		_records.push(records[i]);
	}
	$.ajax({
		type: 'POST',
		url: "<?php echo U('Credentials/updateRecordHandleTag');?>",
		data: {RC: records, TAG: tag},
		dataType: 'json',
		success: function (status) {
			if (status == 1) {
				$.messager.alert('消息', '操作成功!', 'info');
				reload_Credentials_data_list();
			} else {
				$.messager.alert('消息', '操作失败!', 'error');
			}
		}
	});
}
function seachProjectDialog() {
	islogin();
	$('#Credentials_audit_dlg_search').dialog('open');
	var url = '<?php echo U("Public/projectSeach")?>';
	$('#Credentials_audit_dlg_search').dialog('refresh', url);
}
function TDialog(pc,activeItemCode) {
	islogin();
	$('#dd').dialog('open');
	var url = '<?php echo U("Public/acceptance")?>&pc=' + pc + '&activeItemCode=' + activeItemCode;
	$('#dd').dialog('refresh', url);
}
//检查工序项是否全部完成审核操作
function  checkAciiStatus() {
	islogin();
	var re = $('#Credentials_Data_List').datagrid('getRows');
	var number = 0;
	var projectCodes = [];
	for (var i = 0; i < re.length; i++) {
		if(re[i].op==1)//已打印的数据说明数据已经处理完
			continue;
		var key = re[i].projectCode + "_" + re[i].activeItemCode + "_" + re[i].activeItemIns;

		var isCheck = false;
		for (var j = 0; j < projectCodes.length; j++) {
			if (projectCodes[j].Key == key) {
				projectCodes[j].Value.push(i);
				isCheck = true;
				break;
			}
		}
		if (isCheck == false) {
			var curValue = {};
			curValue.Key = key;
			curValue.Value = [i];
			projectCodes.push(curValue);
		}
	}

	var b = projectCodes.length;
	if (b==0){return;}
	var b1 = 0;
	$(".loading").show();
	for (var i = 0; i < b; i++) {
		var obj = projectCodes[i];
		var params = obj.Key.split('_');
		$.ajax({
			type: 'POST',
			url: "<?php echo U('Credentials/queryActiveitemEnableBilling');?>",
			data: {PC: params[0], ACI: params[1], ACII: params[2], ROWS: obj.Value},
			dataType: 'json',
			success: function (data) {
				b1++;
				var rows = data.ROWS;
				var st = data.STATUS;
				if(st==1) {
					for (j = 0; j < rows.length; j++) {
						$('#Credentials_Data_List').datagrid('updateRow', {
							index: parseInt(rows[j]),
							row: {
								op: st,
							}
						});
					}
				}
				if (b1 == b) {
					$(".loading").hide();
					MergeActive();
				}
			},
			error: function () {
				b1++;
			}
		});
	}
}
</script>